.mdl-button {
    background: rgba(158, 158, 158, .2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
.btn-red, .btn-red:hover, .btn-red:focus {
    width: 100%;
    background-color: #9d0a0a!important;
    color: white
}
.btn-black, .btn-black:hover, .btn-black:focus {
    width: 100%;
    background-color: #2b2b2b!important;
    color: white
}
.btn-green, .btn-green:hover, .btn-green:focus {
    width: 100%;
    background-color: #00cc99!important;
    color: white
}
.btn-disabled, .btn-disabled:hover , .btn-disabled:focus {
    width: 100%;
    background-color: #b77f7f!important;
    color: white;
    box-shadow: none;
    cursor: default;
    text-decoration: none;
}
.checker {
    display: none !important;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /*background: #fff;*/
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}